* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --Bright-blue-2: hsla(245, 75%, 55%, 0.664);
}
body {
    background-color: var(--Pale-blue);
    background-image: url("../images/pattern-background-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
}
a {
    display: block;
    transition: .3s;
}
.container {
    width: 375px;
    background-color: var(--Very-pale-blue);
    border-radius: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container > img {
    max-width: 100%;
    border-radius: 20px 20px 0 0;
}
.container h2 {
    margin-top: 40px;
    margin-bottom: 25px;
    font-weight: 900;
}
.container p {
    font-size: 16px;
    width: 300px;
    max-width: 100%;
    margin-bottom: 25px;
}
.container .music {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pale-blue);
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    margin-bottom: 30px;
}
.container .music a:hover {
    text-decoration: none;
}
.container .music .left-mu {
    display: flex;
}
.music .left-mu img {
    margin-right: 15px;
}
.music .left-mu .plan div:first-child {
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
}
.music .left-mu .plan div:last-child {
    color: var(--Desaturated-blue);
}
.container .btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.container .btn button {
    border: none;
    outline: none;
    background-color: transparent;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .btn button:first-child a {
    text-decoration: none;
    color: white;
    background-color: var(--Bright-blue);
    padding: 15px 100px;
    border-radius: 10px;
    font-size: 900;
    box-shadow: 0 10px 10px 0 var(--Bright-blue-2);
}
.container .btn button:first-child a:hover {
    background-color: var(--Bright-blue-2);
}
.container .btn button:last-child a {
    text-decoration: none;
    color: var(--Desaturated-blue);
    font-weight: 700;
    transition: .3s;
    width:fit-content;
}
.container .btn button:last-child a:hover {
    color: black;
}
